<!-- HAMBURGER MENU BARS/ANIMATION -->
<nav class="navbar navbar-inverse navbar-global fixed-top" data-spy="affix" *ngIf="isMobile">
    <div class="w-100 p-0">
        <div class="navbar-header d-flex flex-row w-100" id="admin-navbar-header">
            <div class="btn-expand-collapse p-2 mr-1" (click)='toggleCollapse()'>
                <div class="menu-icon" id="menu-bars">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
            <div class="d-flex flex-row w-100 justify-content-between">
                <div class="py-1 pr-1" style="height: 100%; width: 100px">
                    <img id="img-logo" src="assets/images/W-logo.png" class="img-fluid" alt="EHS Logo">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <p class="text-right h3 text-white mt-1" id="text-home-details-phone"><a href="tel:863-943-4119">863-943-4119</a><br><span class="f-lobster" style="font-size: 110%;">Customer forward; always!</span></p>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- MOBILE MENU -->
<nav class="navbar-primary collapsed" id="navbar-main" *ngIf="isMobile">
    <ul class="navbar-primary-menu" data-spy="affix">
        <li>
            <a class='nav-link text-white' id="navbar-item-mobile-home" [routerLink]="['']" (click)='toggleCollapse()'><span class="nav-label">Home</span></a>
            <a class='nav-link text-white' id="navbar-item-mobile-about" [routerLink]="['about']" (click)='toggleCollapse()'><span class="nav-label">About Us</span></a>
            <a class='nav-link text-white' id="navbar-item-mobile-services" [routerLink]="['services']" (click)='toggleCollapse()'><span class="nav-label">Services</span></a>
            <a class='nav-link text-white' id="navbar-item-mobile-water" [routerLink]="['water-fire-mold']" (click)='toggleCollapse()'><span class="nav-label">Water, Fire, &amp; Mold</span></a>
            <a class='nav-link text-white' id="navbar-item-mobile-blogs" [routerLink]="['blogs']" (click)='toggleCollapse()'><span class="nav-label">Blogs &amp; News</span></a>
            <a class='nav-link text-white' id="navbar-item-mobile-contact" [routerLink]="['contact']" (click)='toggleCollapse()'><span class="nav-label">Contact Us</span></a>
            <div *ngIf="firestoreService.user$ | async as user">
                <div *ngIf="user.admin">
                    <a class="nav-label"><span>Welcome, {{ user.displayName }}</span></a>
                    <a class="nav-label" [routerLink]="['admin/blogs']" (click)='toggleCollapse()'>Blogs</a>
                    <a class="nav-label" [routerLink]="['admin/contact']" (click)='toggleCollapse()'>Contact Requests</a>
                    <a class="nav-label" [routerLink]="['admin/subscribers']" (click)='toggleCollapse()'>Subscribers List</a>
                    <a class="nav-label" (click)="mobileSignOut()">LogOut</a>
                </div>
            </div>

        </li>
    </ul>
</nav>

<!-- DESKTOP MENU -->
<nav class="navbar navbar-expand-sm navbar-light d-flex flex-row p-2 bg-dark-gray sticky-top" id="navbar-desktop" *ngIf="!isMobile">
    <a class="navbar-brand font-weight-bold" href="/">
        <img src="assets/images/W-logo.png" width="100" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-text" aria-controls="navbar-text" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container f-os-semibold" id="navbar-desktop-links">
        <div class="collapse navbar-collapse mx-3" id="navbar-text">
            <ul class="navbar-nav mr-auto justify-content-end w-100 p2" style="overflow: hidden" id="navbar-items">
                <a class="nav-link text-white" id="navbar-item-desktop-home" [routerLink]="['']"><span class="nav-label">Home</span></a>
                <a class="nav-link text-white" id="navbar-item-desktop-about" [routerLink]="['about']"><span class="nav-label">About Us</span></a>
                <a class="nav-link text-white" id="navbar-item-desktop-services" [routerLink]="['services']"><span class="nav-label">Services</span></a>
                <a class="nav-link text-white" id="navbar-item-desktop-water" [routerLink]="['water-fire-mold']"><span class="nav-label">Water, Fire, &amp; Mold</span></a>
                <a class="nav-link text-white" id="navbar-item-desktop-blogs" [routerLink]="['blogs']"><span class="nav-label">Blogs &amp; News</span></a>
                <a class="nav-link text-white" id="navbar-item-desktop-contact" [routerLink]="['contact']"><span class="nav-label">Contact Us</span></a>
            </ul>
        </div>
        <div *ngIf="firestoreService.user$ | async as user">
            <div *ngIf="user.admin" class="cursor-pointer">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, {{ user.displayName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index: 1024 !important">
                        <a class="dropdown-item" [routerLink]="['admin/blogs']">Blogs</a>
                        <a class="dropdown-item" [routerLink]="['admin/contact']">Contact Requests</a>
                        <a class="dropdown-item" [routerLink]="['admin/subscribers']">Subscribers List</a>
                        <a class="dropdown-item cursor-pointer" (click)="firestoreService.signOut()">LogOut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="main-content" id="container-main-content">
    <router-outlet></router-outlet>
    <div class="container">
        <button class="btn btn-primary rounded-circle position-absolute" id="btn-scroll-top" (click)="scrollToTop()"><i class="material-icons text-white" style="line-height: 1.5">arrow_upward</i></button>
    </div>
</div>

<!-- FOOTER -->
<div class="bg-dark-gray d-flex flex-column justify-content-between p-2" id="footer">
    <div class="d-flex flex-row">
        <div class="d-flex w-100 justify-content-end px-3 pr-3">
            <div class="d-flex flex-column" style="margin:0 auto;">
                <p class="text-white text-justify h2">Services</p>
                <ul class="d-flex flex-column justify-content-center p-0 p2" style="text-decoration: underline !important; line-height: 2vh;">
                    <a href="/services#services-section-newhome" class="text-white pb-3">New Home Construction</a>
                    <a href="/services#services-section-roofing" class="text-white pb-3">Roofing</a>
                    <a href="/services#services-section-water" class="text-white pb-3">Water Remediation</a>
                    <a href="/services#services-section-mold" class="text-white pb-3">Mold Remediation</a>
                    <a href="/services#services-section-homerenovation" class="text-white pb-3">Home Renovation</a>
                    <a href="/services#services-section-insurance" class="text-white pb-3">Insurance Build-back/Water,<br> Fire and Mold Reconstruction Management</a>
                    <a href="/services#services-section-air" class="text-white pb-3">Air Quality Testing</a>
                    <a href="/services#services-section-plumbing" class="text-white pb-3">Plumbing</a>
                </ul>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-start px-3 pl-3">
            <div class="d-flex flex-column" style="margin:0 auto;">
                <p class="text-white text-justify h2">Quick Links</p>
                <ul class="d-flex flex-column justify-content-center p-0 p2" style="text-decoration: underline !important; line-height: 2vh;">
                    <a [routerLink]="['water-fire-mold']" class="text-white pb-3">Water, Fire, &amp; Mold</a>
                    <a [routerLink]="['blogs']" class="text-white pb-3">Blogs &amp; News</a>
                    <a [routerLink]="['contact']" class="text-white pb-3">Contact Us</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 m-auto">
        <p class="text-center text-white f-lobster h2 p-2">Customer forward; always!</p>
    </div>
    <div class="d-flex flex-column justify-content-center text-center">
        <!-- LINK TO PRIVACY POLICY -->
        <a href="" class="text-white h3" style="text-decoration: underline !important;">Privacy Policy</a>
        <p class="text-white p1">© 2018 EHS Construction Services. All rights reserved.</p>
        <p class="text-white f-lobster p1">Made by <a href="https://www.meyvest.com/" class="text-decoration-none text-white">Meyvest Soft LLC.</a></p>
    </div>
</div>
