.navbar-global {
    background-color: rgb(0, 0, 0, 0.1);
}

.navbar-global .navbar-brand {
    color: white;
}

.navbar-global .navbar-user > li > a {
    color: white;
}

#navbar-text {
    min-width: 375px !important;
    right: 0;
}

.navbar-primary {
    background-color: #5B5956;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 75px;
    width: 200px;
    z-index: 1024;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    height: 100%;
    opacity: 0.95;
}

.navbar-primary.collapsed {
    width: 0px;
}

.navbar-primary.collapsed .nav-label {
    display: none;
}

.navbar-primary-menu,
.navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    color: #ccc;
}

.navbar-primary-menu li a.active {
    text-decoration: none;
    color: white;
    opacity: 0.25;
}

.navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
}

.navbar-element-title {
    color: white;
}

.navbar-element-title-collapse {
    display: none;
}

.navbar-section-container {
    border: solid 1px #444;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.w-25 {
    width: 25% !important;
}

#btn-scroll-top {
    bottom: 10px;
    right: 10px;
}
