<div class="container overlay-image p-0" *ngIf="isMobile">
  <img src="assets/images/blogs-news-header.jpg" class="brightness w-100 h-100" alt="Blogs and News Header">
  <div class="image-text h2">Blogs and News</div>
</div>

<div class="container p-2 mb-3">
  <div class="container py-3" *ngIf="!isMobile">
    <p class="h2 f-os-semibold">Blogs and News</p>
  </div>
</div>

<ng-container *ngIf="(blogs | async)?.length!=0; then displayBlogs; else noBlogs"></ng-container>
<ng-template #displayBlogs>
  <div class="container">
    <div *ngIf="isMobile">
      <div class="d-flex flex-column p-2" *ngFor="let b of blogs | async">
        <img [src]='b.img' class="blog-image" alt="Blog image">
        <p class="pt-2 h2">{{ b.title }}</p>
        <p class="p2">{{ getBlogDescription(b.description) }}</p>
        <a [routerLink]="['details', b.id]" class="p2">Read More</a>
        <p class="p2 p-2">{{ b.time_created.seconds * 1000 | date:'MM/dd/yyyy' }}</p>
      </div>
    </div>
    <div *ngIf="!isMobile">
      <div class="d-flex flex-row border-bottom py-2" *ngFor="let b of blogs | async">
        <div class="container"><img [src]='b.img' class="blog-image" alt="Blog image"></div>
        <div class="container" style="min-width: 300px;">
          <div class="d-flex flex-row w-100 justify-content-between">
            <p class="h2">{{ b.title }}</p>
            <p class="p2 p-2">{{ b.time_created.seconds * 1000 | date:'MM/dd/yyyy' }}</p>
          </div>
          <p class="p2">{{ getBlogDescription(b.description) }}</p>
          <div class="d-flex flex-row w-100 justify-content-end">
            <a [routerLink]="['details', b.id]" class="text-details text-underline-gray" class="p2">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #noBlogs>
  <div class="text-center mx-auto py-5">
    <p class="f-lobster" style="font-size: 6vw">Coming Soon!</p>
  </div>
</ng-template>
