<div class="container overlay-image w-100 m-auto p-0" *ngIf="isMobile">
    <img src="assets/images/water-fire-mold-header.png" class="brightness w-100" alt="Water, Fire, and Mold Header">
    <div class="image-text h2">Water, Fire, and Mold</div>
</div>

<div class="container p-2 mb-3">
    <div class="container py-3" *ngIf="!isMobile">
        <p class="h2">Our Other Services - Water, Fire, &amp; Mold</p>
    </div>
    <div class="container f-muli">
        <p class="m-0" class="f-os-reg h3 pt-3">We can also conduct a wide variety of services for your indoor air quality needs which include:</p>
        <ul class="m-0" class="f-muli p1">
            <li>Mold Assessments</li>
            <li>Mold Remediation Protocols</li>
            <li>Water Damage and Mold Growth Cause and Origin Investigations</li>
            <li>Indoor Air Quality Assessments</li>
        </ul>
    </div>

    <div class="d-flex flex-column w-100 pb-3" *ngIf="isMobile">
        <img src="assets/images/water-damage.png" class="w-100 h-100 p-2" alt="Water Damage">
        <img src="assets/images/air-quality-equipment.png" class="w-100 h-100 p-2" alt="Air quality equipment">
        <img src="assets/images/treatment-fans.png" class="w-100 h-100 p-2" alt="Fans used to dry flooded areas">
        <img src="assets/images/mold-treatment.png" class="w-100 h-100 p-2" alt="Mold treatment">
    </div>

    <div class="d-flex flex-row justify-content-center py-3" *ngIf="!isMobile" style="flex-flow: column wrap;">
        <div class="d-flex flex-column">
            <img src="assets/images/water-damage.png" class="w-100 h-100 p-2" alt="Water Fire Mold Image">
            <img src="assets/images/air-quality-equipment.png" class="w-100 h-100 p-2" alt="Water Fire Mold Image">
        </div>
        <div class="d-flex flex-column">
            <img src="assets/images/treatment-fans.png" class="w-100 h-100 p-2" alt="Water Fire Mold Image">
            <img src="assets/images/mold-treatment.png" class="w-100 h-100 p-2" alt="Water Fire Mold Image">
        </div>
    </div>
</div>
