#header-container {
    background: url("../../assets/images/about-header.jpg");
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;
    height: 250px;
}
