<div class="container overlay-image w-100v p-0" id="header-container" *ngIf="isMobile">
    <img src="assets/images/about-header.jpg" class="brightness w-100 h-100" alt="About Our Business Header">
    <div class="image-text h2">About Our Business</div>
</div>

<div class="container p-2 mb-3">
    <div class="container py-3" *ngIf="!isMobile">
        <p class="h2">About Us</p>
        <div id="header-container" class="w-100"></div>
    </div>
    <div class="d-flex container py-3" [ngClass]="{'flex-row': !isMobile, 'flex-column': isMobile}">
        <div class="container p-0">
            <p class="f-os-semibold p-0 h2">Who Are We?</p>
            <p class="f-muli p-0 p1">A professional construction company whose focus is customer service, quality and innovation.</p>
        </div>
    </div>
</div>
