<div *ngIf="firestoreService.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
    <div class="container d-block w-100 justify-content-center text-center f-os-reg" [ngClass]="{'mt-5 pt-2': isMobile}">
        <p class="my-4 p-2">In order for you to access the admin panel,<br> you must login with an authenticated Google account.</p>
        <p class="my-4 p-2">Click the button below to connect now.</p>
        <button (click)="firestoreService.googleSignin()" class="btn btn-primary"> Connect Google </button>
        <p class="my-4 p-2">If you do not have a Google account, please contact your Webmaster.</p>
    </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="firestoreService.user$ | async as user">
        <ng-container *ngIf="user.admin; then userAdmin; else noAuthorized"></ng-container>
        <ng-template #userAdmin>
            <div class="container p-0" style="max-width: none;">
                <!-- Search Bar -->
                <div class="d-flex flex-row justify-content-left w-100 position-sticky bg-white border border-primary border-right-0 border-left-0 p-2" id="container-searchbar">
                    <div class="dropdown mr-2">
                        <button class="btn btn-secondary dropdown-toggle border-0 bg-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons text-primary">sort</i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item cursor-pointer" id="unread" (click)="switchFilterKey('unread')">Unread</a>
                            <a class="dropdown-item cursor-pointer" id="read" (click)="switchFilterKey('read')">Read</a>
                            <a class="dropdown-item cursor-pointer" id="time-desc" (click)="switchFilterKey('time-desc')">Date Requested - Descending</a>
                            <a class="dropdown-item cursor-pointer" id="time-asc" (click)="switchFilterKey('time-asc')">Date Requested - Ascending</a>
                        </div>
                    </div>
                    <input (keyup)="onKey($event)" class="border-rounded border-0 p-2 w-100 shadow-pink" id="inp-search" placeholder="Search by first name, last name, or company name">
                </div>

                <!-- Table For Testing Purposes. When the design is ready, the content will be replaced accordingly -->
                <table class="table table-striped table-hover cursor-pointer">
                    <thead>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Phone</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of contactsList | contact: sortKey: searchValue; let i = index" [ngClass]="{'bg-success text-white': !c.read}" (click)="updateContact(i)" data-toggle="modal" data-target="#showContactModal">
                            <td>{{ c.time_created.seconds * 1000 | date:'MM/dd/yyyy, HH:mm' }}</td>
                            <td>{{ c.last_name }}, {{ c.first_name }}</td>
                            <td>{{ c.company_name }}</td>
                            <td>{{ c.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <ng-template #noAuthorized>
            <div class="container d-block w-100 justify-content-center text-center f-os-reg mt-5 pt-2">
                <p class="errorFont">You are not authorized to view this page. If you believe this is a mistake, please contact your Webmaster.</p>
            </div>
        </ng-template>
    </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="showContactModal" tabindex="-1" role="dialog" aria-labelledby="showContactModalLabel">
    <div class="modal-dialog" role="document" *ngIf="contact">
        <div class="modal-content">
            <div class="modal-header">
                <p class=" h3 modal-title" id="exampleModalLabel">Contact Request</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="d-flex flex-column">
                        <p class="f-os-reg"><strong>Sender Name:</strong></p>
                        <p class="f-muli">{{ contact.last_name }}, {{ contact.first_name }}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="f-os-reg"><strong>Sender Company:</strong></p>
                        <p class="f-muli">{{ contact.company_name }}</p>
                    </div>
                    <p class="f-os-reg"><strong>Message:</strong></p>
                    <p>{{ contact.comments }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-unread" (click)="setUnreadFlag()">Set Unread</button>
                <button type="button" class="btn btn-primary"><a [href]="getEmailStr()" class="text-white">Reply</a></button>
                <button type="button" class="btn btn-danger" id="btn-delete" (click)="setDeleteFlag()">Delete Request</button>
                <button type="button" class="btn btn-danger d-none" id="btn-delete-confirm" (click)="deleteContact()" data-dismiss="modal">Yes, I want to delete this request</button>
            </div>
        </div>
    </div>
</div>
