<div class="container overlay-image p-0" *ngIf="isMobile">
    <img src="assets/images/contact-header.png" class="brightness w-100 h-100" alt="About Header">
    <div class="image-text h2">Contact Us</div>
</div>

<div class="container p-2 mb-3">
    <div class="container py-3" *ngIf="!isMobile">
        <p class="h2">Contact Us</p>
    </div>
    <div class="container">
        <p class="h3 py-3">EHS is here to provide you with the information you need for any questions regarding our services.</p>
    </div>
</div>

<div class="container m-auto pb-4" [ngClass]="{'w-50': !isMobile}">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="container mb-2">
            <label>First Name</label><input type="text" class="form-control" formControlName="first_name">
            <div class="alert alert-danger" *ngIf="!form.controls['first_name'].valid && form.controls['first_name'].touched">Enter a valid first name</div>
        </div>
        <div class="container mb-2">
            <label>Last Name</label><input type="text" class="form-control" formControlName="last_name">
            <div class="alert alert-danger" *ngIf="!form.controls['last_name'].valid && form.controls['last_name'].touched">Enter a valid last name</div>
        </div>
        <div class="container mb-2">
            <label>Company Name</label><input type="text" class="form-control" formControlName="company_name">
            <div class="alert alert-danger" *ngIf="!form.controls['company_name'].valid && form.controls['company_name'].touched">Enter a valid company name</div>
        </div>
        <div class="container mb-2">
            <label>Email</label><input type="text" class="form-control" formControlName="email">
            <div class="alert alert-danger" *ngIf="!validateEmail(form.controls['email'].value) && form.controls['email'].touched">Enter a valid email</div>
        </div>
        <div class="container mb-2">
            <label>Phone Number</label><input type="text" class="form-control" formControlName="phone">
            <div class="alert alert-danger" *ngIf="!form.controls['phone'].valid && form.controls['phone'].touched">Enter a valid phone number</div>
        </div>
        <div class="container mb-2">
            <label>Comments</label><textarea class="form-control" rows="5" id="inp-comment" (keyup)="updateComment()"></textarea>
        </div>

        <div class="d-flex justify-content-center p-2" *ngIf="showSubmitButton()">
            <button type="submit" class="btn btn btn-light border border-secondary" id="btn-submit-contact">Update Page</button>
        </div>
    </form>
    <div class="container" *ngIf="isContactSent">
        <div class="alert alert-success text-center" role="alert">Message sent, please wait for a reply!</div>
    </div>
</div>
