<div *ngIf="firestoreService.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
    <div class="container d-block w-100 justify-content-center text-center f-os-reg" [ngClass]="{'mt-5 pt-2': isMobile}">
        <p class="my-4 p-2">In order for you to access the admin panel,<br> you must login with an authenticated Google account.</p>
        <p class="my-4 p-2">Click the button below to connect now.</p>
        <button (click)="firestoreService.googleSignin()" class="btn btn-primary"> Connect Google </button>
        <p class="my-4 p-2">If you do not have a Google account, please contact your Webmaster.</p>
    </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="firestoreService.user$ | async as user">
        <ng-container *ngIf="user.admin; then userAdmin; else noAuthorized"></ng-container>
        <ng-template #userAdmin>
            <div class="container p-0" style="max-width: none;">
                <!-- Search Bar -->
                <div class="d-flex flex-row justify-content-left w-100 position-sticky bg-white border border-primary border-right-0 border-left-0 p-2" id="container-searchbar">
                    <div class="dropdown mr-2">
                        <button class="btn btn-secondary dropdown-toggle border-0 bg-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons text-primary">sort</i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item cursor-pointer" id="title-desc" (click)="switchFilterKey('title-desc')">Title - Descending</a>
                            <a class="dropdown-item cursor-pointer" id="title-asc" (click)="switchFilterKey('title-asc')">Title - Ascending</a>
                            <a class="dropdown-item cursor-pointer" id="time-desc" (click)="switchFilterKey('time-desc')">Date Created - Descending</a>
                            <a class="dropdown-item cursor-pointer" id="time-asc" (click)="switchFilterKey('time-asc')">Date Created - Ascending</a>
                        </div>
                    </div>
                    <input (keyup)="onKey($event)" class="border-rounded border-0 p-2 w-100 shadow-pink" id="inp-search" placeholder="Search by title">
                    <div class="d-flex flex-row align-items-center">
                        <span class="material-icons text-primary ml-2 mr-2 mb-2" style="font-size: 3.75vh">edit</span>
                        <label class="switch">
                            <input type="checkbox" id="editSwitch">
                            <span class="slider round"></span>
                        </label>
                        <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#createBlogModal" (click)="setNewBlog()" id="add-blog"></button>
                        <label for="add-blog" class="m-0"><span class="material-icons text-primary ml-2 mr-2 mb-2 cursor-pointer" style="font-size: 3.75vh">library_add</span></label>
                    </div>
                </div>

                <!-- Table For Testing Purposes. When the design is ready, the content will be replaced accordingly -->
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Date</th>
                        <th>Title</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of blogsList| blogs: sortKey: searchValue; let i = index" (click)="updateEditModal(i)">
                            <td>{{ b.time_created.seconds * 1000 | date:'MM/dd/yyyy, HH:mm' }}</td>
                            <td>{{ b.title }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <ng-template #noAuthorized>
            <div class="container d-block w-100 justify-content-center text-center f-os-reg mt-5 pt-2">
                <p class="errorFont">You are not authorized to view this page. If you believe this is a mistake, please contact your Webmaster.</p>
            </div>
        </ng-template>
    </div>
</ng-template>


<!-- Modal -->
<div class="modal fade" id="createBlogModal" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ng-container *ngIf="!blog; else editModal">
                    <h5>Create New Blog</h5>
                </ng-container>
                <ng-template #editModal>
                    <h5>Edit Blog</h5>
                </ng-template>
                <button type="button" class="close" aria-label="Close" (click)="setDefaultModals()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="container">
                        <label>Title</label><input type="text" class="form-control" formControlName="title">
                        <div class="alert alert-danger" *ngIf="!form.controls['title'].valid && form.controls['title'].touched">Enter a valid title</div>
                    </div>
                    <div class="container mb-2">
                        <label>Description</label><textarea class="form-control" rows="5" id="inp-description" (keyup)="updateDescription()"></textarea>
                    </div>
                </form>

                <form [formGroup]="form" id="frm-upload-img">
                    <div class="container d-flex flex-row justify-content-between">
                        <label for="upload-img" class="btn btn-primary">Select Header Image</label>
                        <div class="text-secondary" *ngIf="selectedFile">{{ selectedFile.name }}</div>
                    </div>
                    <input #uploadImage class="file-input d-none" type="file" id="upload-img" (change)="onFileChanged($event)">
                </form>

                <div *ngIf="selectedFile">
                    <p>Upload Progress</p>
                    <div *ngIf="percentage | async as pct" class="d-flex flex-row justify-content-between">
                        <progress class="progress-bar progress-bar-striped" [value]="pct" max="100"></progress> {{ pct | number }}%
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <ng-container *ngIf="!blog; else updatePost">
                    <button type="button" class="btn btn-secondary" (click)="setDefaultModals()">Close</button>
                    <button type="button" class="btn btn-primary" *ngIf="showSubmitButton()" (click)="onSubmit()">Post Blog</button>
                </ng-container>
                <ng-template #updatePost>
                    <button type="button" class="btn btn-danger" id="btn-delete" (click)="setDeleteFlag()">Delete Blog</button>
                    <button type="button" class="btn btn-danger d-none" id="btn-delete-confirm" (click)="deleteBlog()" data-dismiss="modal">Yes, I want to delete this blog</button>
                    <button type="button" class="btn btn-primary" *ngIf="showSubmitButton()" (click)="onSubmit()">Update Blog</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
