<div *ngIf="firestoreService.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="container d-block w-100 justify-content-center text-center f-os-reg" [ngClass]="{'mt-5 pt-2': isMobile}">
      <p class="my-4 p-2">In order for you to access the admin panel,<br> you must login with an authenticated Google account.</p>
      <p class="my-4 p-2">Click the button below to connect now.</p>
      <button (click)="firestoreService.googleSignin()" class="btn btn-primary"> Connect Google </button>
      <p class="my-4 p-2">If you do not have a Google account, please contact your Webmaster.</p>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="firestoreService.user$ | async as user">
      <ng-container *ngIf="user.admin; then userAdmin; else noAuthorized"></ng-container>
      <ng-template #userAdmin>
          <div class="container p-0" style="max-width: none;">
              <!-- Search Bar -->
              <div class="d-flex flex-row justify-content-center w-100 position-sticky bg-white border border-primary border-right-0 border-left-0 p-2" id="container-searchbar">
                  <input (keyup)="onKey($event)" class="border-rounded border-0 p-2 w-100 shadow-pink" id="inp-search" placeholder="Search by full email or domain">
                  <button type="button" class="btn btn-primary"><a [href]="emailStr" class="text-white">Email All</a></button>
              </div>

              <!-- Table For Testing Purposes. When the design is ready, the content will be replaced accordingly -->
              <table class="table table-striped table-hover cursor-pointer">
                  <thead>
                      <th>Date</th>
                      <th>Email</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let s of subscribersList | subscribers: searchValue; let i = index">
                          <td>{{ s.time_created.seconds * 1000 | date:'MM/dd/yyyy, HH:mm' }}</td>
                          <td>{{ s.email }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </ng-template>
      <ng-template #noAuthorized>
          <div class="container w-100">
              <p>You are not authorized to view this content</p>
          </div>
      </ng-template>
  </div>
</ng-template>
