<div class="container overlay-image w-100v p-0" *ngIf="isMobile">
    <img src="assets/images/services-header.png" class="brightness w-100 h-100" alt="Services We Provide Header">
    <div class="image-text h2">Services We Provide</div>
</div>

<div class="container p-2 mb-3">
    <div class="container py-3" *ngIf="!isMobile">
        <p class="h2">Services We Provide</p>
    </div>
    <div class="container">
        <p class="text-center h2 p-3">Construction Management</p>
        <p class="text-left f-os-reg p1">We are professional contractors responsible for the day-to-day oversight of your construction sites. This includes coordination of subcontractors, suppliers, and inspectors.<br>Let us manage your commericial and residential projects from your permit to your certificate of occupany.</p>

        <img src="assets/images/home-under-construction.png" class=" w-100 h-100" alt="" id="services-section-newhome">
        <p class="text-center h2 p-3">New Home Construction</p>
        <p class="text-left f-os-reg p1">Building custom homes is our passion. We can help you turn your dreams into engineered plans and finally your new home.</p>

        <img src="assets/images/shingle-and-metal-roof.jpg" class=" w-100 h-100" alt="" id="services-section-roofing">
        <p class="text-center h2 p-3">Roofing</p>
        <p class="text-left f-os-reg p1">We have everything for your commercial or residential roofing, gutter and ventilation systems. We specialize in the following roofing systems: architectural shingles, metal, TPO and rolled roofing. Choosing the best roof doesn't have to be complicated because we value quality and price. Our warranties are the best.</p>

        <img src="assets/images/water-remediation.jpeg" class=" w-100 h-100" alt="" id="services-section-water">
        <p class="text-center h2 p-3">Water Remediation</p>
        <p class="text-left f-os-reg p1">Water damage needs immediate remediation. Our trained professionals are trained to quickly resolve and stop additional damage to your home.</p>

        <img src="assets/images/mold-inspection-test.jpg" class=" w-100 h-100" alt="" id="services-section-mold">
        <p class="text-center h2 p-3">Mold Remediation</p>
        <p class="text-left f-os-reg p1">Mold remediation requires trained professionals to restore the sanitary conditions for your home; protecting your property and family.</p>

        <img src="assets/images/new-home-construction.png" class=" w-100 h-100" alt="" id="services-section-homerenovation">
        <p class="text-center h2 p-3">Home Renovation</p>
        <p class="text-left f-os-reg p1">Renovating your home is a major investment of time and money. We can bring new life to your kitchen, bathroom and patio. Your consultant works with the design team to keep you on budget yet "on-trend".</p>

        <img src="assets/images/schematic.jpg" class=" w-100 h-100" alt="" id="services-section-insurance">
        <p class="text-center h2 p-3">Insurance Build-back/Water, Fire and Mold Reconstruction Management</p>
        <p class="text-left f-os-reg p1">"Build back" is a restoration process or clause in your homeowners’ or property insurance policy. Build back restores your property to a habitable condition. Whether big or small, claims require a skilled team to manage your claim and ensure the insurance claim process doesn't cause unfortunate delays. Our team is Xactimate trained. We act in good faith to prepare a supplemental estimate to ensure your insurer provides you with the true cost of repairs. Take full advantage of the services we provide.</p>

        <img src="assets/images/indoor-air-quality-test.jpg" class=" w-100 h-100" alt="" id="services-section-air">
        <p class="text-center h2 p-3">Air Quality Testing</p>
        <p class="text-left f-os-reg p1">We spend most of our time inside.</p>
        <p class="text-left f-os-reg p1">The EPA describes three common indoor pollutants which impact the quality of your air:</p>
        <ol class="text-left f-os-reg p1">
            <li>Biological pollutants, like mold, pollen, dust mites, and bacteria.</li>
            <li>Chemical pollutants, like include volatile organic compounds (VOCs) and the others like lead and radon.</li>
            <li>Combustion pollutants, like carbon monoxide and tobacco smoke.</li>
        </ol>
        <p class="text-left f-os-reg p1">If you suspect an air pollution problem in your office or home, hire a skilled company to test for any contaminant levels and recommend your best treatment options.</p>

        <img src="assets/images/plumbing-job.jpg" class=" w-100 h-100" alt="" id="services-section-plumbing">
        <p class="text-center h2 p-3">Plumbing</p>
        <p class="text-left f-os-reg p1">Our plumbers' experience goes beyond drinking water, sewage and drainage, yet, includes mathematics, blueprint reading, plumbing codes and water distribution.<br>We handle commercial and residential plumbing emergencies like broken pipes, clogged drains to installing dishwashers, garbage disposal and replacement faucets in a budget conscience manner. We can also design and install your new construction plumbing system. </p>
    </div>
</div>
