/* You can add global styles to this file, and also import other style files */
.w-100v {
    width: 100vw !important;
}

.h-100v {
    height: 100vh !important;
}

.h1 {
    font-size: 5vh;
}

.h2 {
    font-family: 'Staatliches', cursive;
    font-size: 3.75vh;
}

.h3 {
    font-size: 2.5vh;
}

.p1 {
    font-size: 2vh;
}

.p2 {
    font-size: 1.75vh;
}

.image-text {
    width: 100%;
    position: absolute;
    top: 75%;
    padding: 0 1rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
}

.overlay-image {
    position: relative;
    width: 100%;
    max-width: none;
    max-height: 300px !important;
    overflow-y: hidden;
}

.bg-dark-gray {
    background-color: #5B5956 !important;
}

.f-os-reg {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal !important;
}

.f-os-semibold {
    font-family: 'Open Sans Semibold', sans-serif;
}

.f-os-light {
    font-family: 'Open Sans Light', sans-serif;
}

.f-muli {
    font-family: 'Muli', sans-serif;
    font-weight: normal !important;
}

.f-lobster {
    font-family: 'Lobster', cursive;
    font-weight: normal !important;
}

.text-details {
    color: #949290;
}

.text-underline-gray {
    text-decoration: underline;
    text-decoration-color: #949290;
}

.mw-50 {
    max-width: 50% !important;
}

.cursor-pointer {
    cursor: pointer;
}

#container-searchbar {
    top: 57px;
    clear: both;
}

.errorFont {
    font-size: 3vmax;
}
