<ng-container>
    <div class="d-flex flex-row justify-content-between fixed-top p-4" *ngIf="!isMobile">
        <img id="img-logo" src="assets/images/B-logo.png" class="img-fluid" alt="EHS Logo">
        <p class="text-right h3 text-white" id="text-home-details-phone" style="line-height: 3vh"><a href="tel:863-943-4119">863-943-4119</a><br><span class="f-lobster" style="font-size: 110%">Customer forward; always!</span></p>
    </div>
    <img src="assets/images/W-logo.png" class="w-50 position-absolute" id="home-img-carousel" alt="Home Carousel" [ngClass]="{'top-45': isMobile}">
    <div id="home-nav-container" class="d-md-block text-center position-absolute w-100">
        <ul id="home-nav" class="navbar-nav justify-content-between w-100 flex-row position-relative h3 animated fadeInLeft" *ngIf="!isMobile">
            <a class='nav-link text-white d-flex h3' id="navbar-item-desktop-home" [routerLink]="['']"><span class="nav-label p-2 m-0">Home</span></a>
            <div class="border h-auto mx-2"></div>
            <a class='nav-link text-white d-flex h3' id="navbar-item-desktop-about" [routerLink]="['about']"><span class="nav-label p-2 m-0">About Us</span></a>
            <div class="border h-auto mx-2"></div>
            <a class='nav-link text-white d-flex h3' id="navbar-item-desktop-services" [routerLink]="['services']"><span class="nav-label p-2 m-0">Services</span></a>
            <div class="border h-auto mx-2"></div>
            <a class='nav-link text-white d-flex h3' id="navbar-item-desktop-water" [routerLink]="['water-fire-mold']"><span class="nav-label p-2 m-0">Water, Fire, &amp; Mold</span></a>
            <div class="border h-auto mx-2"></div>
            <a class='nav-link text-white d-flex h3' id="navbar-item-desktop-blogs" [routerLink]="['blogs']"><span class="nav-label p-2 m-0">Blogs &amp; News</span></a>
            <div class="border h-auto mx-2"></div>
            <a class='nav-link text-white d-flex h3' id="navbar-item-desktop-contact" [routerLink]="['contact']"><span class="nav-label p-2 m-0">Contact Us</span></a>
        </ul>
    </div>
    <div class="position-absolute w-100" style="bottom: 15%; z-index: 2;" *ngIf="isMobile">
        <p class="m-0 border border-white py-2 mx-5 text-center text-white f-os-semibold h3" [routerLink]="['services']">View Services</p>
    </div>

    <div id="carouselHome" class="carousel slide f-os-reg" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHome" data-slide-to="1"></li>
            <li data-target="#carouselHome" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner w-100 h-100">
            <div id="img-1" class="carousel-item active dark-filter">
                <img src="assets/images/home-header.png" class="d-block w-100 mh-100v vh-100 " alt="Home Header">
            </div>
            <div id="img-2" class="carousel-item dark-filter">
                <img src="assets/images/home-header-4.jpeg" class="d-block w-100 mh-100v vh-100 " alt="About Our Business">
            </div>
            <div id="img-3" class="carousel-item dark-filter">
                <img src="assets/images/blogs-news-header.jpg" class="d-block w-100 mh-100v vh-100 " alt="Blogs and News">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</ng-container>



<!-- This block causes the desktop to overflow in the x axis -->
<div class="d-flex flex-column" [ngClass]="{'flex-column-reverse': !isMobile}">
    <div class="container">
        <div class="container" [ngClass]="{'mobile-service-content-container': isMobile, 'desktop-service-content-container': !isMobile }">
            <p class="pt-3 pt-md-5 text-center f-lobster h2">Customer forward; always!</p>
            <p class="pb-3 px-md-5 pb-md-5 m-auto text-center f-os-reg h3">We build quality projects and long-lasting trust with the clients who live in the community we share.</p>
        </div>
    </div>
</div>

<!-- MOBILE SECTION -->
<div class="d-flex flex-column" *ngIf="isMobile">
    <div class="container py-3">
        <p class="f-os-semibold h3">Services</p>
        <p class="f-os-reg p1">We can do many things for our clients:</p>
        <ul class="p2">
            <li>New Home Construction</li>
            <li>Roofing</li>
            <li>Water Remediation</li>
            <li>Mold Remediation</li>
            <li>Home Renovation</li>
            <li>Insurance Build-back/Water, Fire and Mold Reconstruction Management</li>
            <li>Air Quality Testing</li>
            <li>Plumbing</li>
        </ul>
    </div>
    <div class="container py-3">
        <p class="f-os-semibold h3">Water, Fire, &amp; Mold</p>
        <p class="f-os-reg p1">We can also conduct a wide variety of services for your indoor air quality needs which include:</p>
        <ul class="p2">
            <li>Mold Assessments</li>
            <li>Mold Remediation Protocols</li>
            <li>Water Damange and Mold Growth Cause and Origin Investigations</li>
            <li>Indoor Air Quality Assessments</li>
        </ul>
    </div>
</div>

<!-- DESKTOP CARDS -->
<div class="container w-100">
    <div class="d-flex flex-row py-md-3" *ngIf="!isMobile">
        <div id="card-1" class="container w-50 border border-secondary text-center text-white m-2 home-card cursor-pointer p-0" (mouseenter)="toggleCard('desktop-card-content-services', 'desktop-card-title-services')" (mouseleave)="toggleCard( 'desktop-card-title-services', 'desktop-card-content-services')">
            <div class="d-flex justify-content-center flex-column h-100 overlay" id="desktop-card-title-services">
                <p class="h2">Services</p>
            </div>
            <div class="w-100 h-100 justify-content-center d-flex flex-column p-3 animated flipInX overlay" id="desktop-card-content-services" style="display: none !important">
                <p class="h3">We can do many things for our clients:</p>
                <ul class="f-os-semibold list-unstyled p2">
                    <li>New Home Construction</li>
                    <li>Roofing</li>
                    <li>Water Remediation</li>
                    <li>Mold Remediation</li>
                    <li>Home Renovation</li>
                    <li>Insurance Build-back/Water, Fire and Mold Reconstruction Management</li>
                    <li>Air Quality Testing</li>
                    <li>Plumbing</li>
                </ul>
            </div>
        </div>
        <div id="card-2" class="container w-50 border border-secondary text-center text-white m-2 p-0 home-card cursor-pointer p-0" (mouseenter)="toggleCard('desktop-card-content-water', 'desktop-card-title-water')" (mouseleave)="toggleCard('desktop-card-title-water', 'desktop-card-content-water')">
            <div class="d-flex flex-column justify-content-center h-100 overlay" id="desktop-card-title-water">
                <p class="h2">Water, Fire, &amp; Mold</p>
            </div>
            <div class="w-100 h-100 justify-content-center d-flex flex-column p-3 animated flipInX overlay" id="desktop-card-content-water" style="display: none !important">
                <p class="h3">We can also conduct a wide variety of services for your indoor air quality needs which include:</p>
                <ul class="f-os-semibold list-unstyled p2">
                    <li>Mold Assessments</li>
                    <li>Mold Remediation Protocols</li>
                    <li>Water Damange and Mold Growth Cause and Origin Investigations</li>
                    <li>Indoor Air Quality Assessments</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="email-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block">
                <div class="d-flex pb-3">
                    <h5 class="modal-title">Let's us serve you. How can we help?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <img src="assets/images/stay-in-touch.jpg" class="w-100">
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="container mb-2">
                        <label>Email</label><input type="text" class="form-control" formControlName="email">
                        <div class="alert alert-danger" *ngIf="!validateEmail(form.controls['email'].value) && form.controls['email'].touched">Enter a valid email</div>
                    </div>
                    <div class="d-flex justify-content-center p-2" *ngIf="showSubmitButton()">
                        <button type="submit" class="btn btn btn-light border border-secondary" id="btn-submit-contact">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="success-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thank you!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">You have been subscribed!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
