@media only screen and (max-device-width : 768px) {
    .carousel-item > img {
        display: none !important;
    }

    #img-1 {
        height: 100vh;
        background: url("../../assets/images/home-header.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    #img-2 {
        height: 100vh;
        background: url("../../assets/images/home-header-4.jpeg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    #img-3 {
        height: 100vh;
        background: url("../../assets/images/blogs-news-header.jpg");
        background-repeat: no-repeat;
        background-position: 25% center;
        background-size: cover;
    }
}

#home-nav-container {
    bottom: 10%;
    z-index: 2;
    margin: 0 !important;
}

#landing-container {
    background: url("../../assets/images/home-header.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#home-nav {
    padding: 0px 5%;
}

#card-1 {
    background: url("../../assets/images/home-header-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#card-2 {
    background: url("../../assets/images/home-header-3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.top-45 {
    top: 45% !important;
}

.overlay {
    z-index: 1;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}

.desktop-sevice-header-container {
    width: 100%;
}

.desktop-service-content-container {
    width: 100%;
}

.home-card {
    height: 350px !important;
}

.mh-100v {
    max-height: 100vh;
}

.text-border {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dark-filter {
    filter: brightness(0.45);
}

#img-logo {
    height: 50px;
    width: 100px;
}

#home-img-carousel {
    z-index: 1;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -15%;
}
