<div *ngIf="blog">
    <div class="container overlay-image p-0" *ngIf="isMobile">
        <img [src]="blog.img" class="brightness w-100 h-100">
    </div>
</div>

<div *ngIf="blog">
    <div class="img-blog-container p-2" *ngIf="!isMobile">
        <img [src]="blog.img" class="h-100 d-block m-auto" style="max-width: 960px;">
    </div>
</div>

<div class="container" *ngIf="blog">
    <div *ngIf="isMobile">
        <div class="d-flex flex-column justify-content-between">
            <div class="d-flex w-100 justify-content-between" [ngClass]="{'flex-row': !isMobile, 'flex-column': isMobile}">
                <p class="h2 pt-3">{{ blog.title }}</p>
                <p>{{ blog.time_created.seconds * 1000 | date:'MM/dd/yyyy, hh:mm a' }}</p>
            </div>
            <p>{{ blog.description }}</p>
        </div>
    </div>

    <div class="container" style="max-width: 720px;" *ngIf="!isMobile">
        <div class="d-flex flex-row justify-content-between p-2">
            <p class="h2 pt-3">{{ blog.title }}</p>
            <p class="pt-4 mt-1" style="line-height: 1.2">{{ blog.time_created.seconds * 1000 | date:'MM/dd/yyyy, hh:mm a' }}</p>
        </div>
        <p class="p-2">{{ blog.description }}</p>
    </div>
    <div class="w-100 text-right mb-2">
        <a href="/blogs"><i class="material-icons" style="vertical-align: text-top">arrow_back_ios</i>Back To Blogs and News</a>
    </div>
</div>
